<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
    <body>
        <div>
            <h1>Log in with Twitter</h1>
        </div>
        <ul>
            <li>
                <a href="auth/twitter" class="btn btn-primary">
                    Twitter
                </a>
            </li>
        </ul>
    </body>
</html>
